body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-image: url(pexels-rafael-cosquiere-2041540.jpg);
  }
  
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    text-align: center;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    margin: 0 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  